<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mcc_codebase</display-name>
  <servlet>
    <description></description>
    <display-name>RegisterationHandler</display-name>
    <servlet-name>RegisterationHandler</servlet-name>
    <servlet-class>com.umkc.mcc.RegisterationHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterationHandler</servlet-name>
    <url-pattern>/RegisterationHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegestrationHandler</display-name>
    <servlet-name>RegestrationHandler</servlet-name>
    <servlet-class>com.umkc.mcc.RegestrationHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegestrationHandler</servlet-name>
    <url-pattern>/RegestrationHandler</url-pattern>
  </servlet-mapping>
</web-app>